<div class="ui divided items">
	<div class="item">
		<div class="image" *ngIf="isImageOn">
			<img [src]="entry.image.src" *ngIf="entry.has_image == 1">
			<img src="http://p-hold.com/100/80" *ngIf="entry.has_image == 0">
		</div>

		<div class="content" (dblclick)="OnDoubleClickEntry(entry)">
			<a class="header" [href]="entry.resolved_url" target="_blank">{{entry.resolved_title}}</a>
			<div class="meta" *ngIf="isLinkOn">
				<span class="cinema"><a [href]='entry.resolved_url' target="_blank">{{entry.resolved_url}}</a></span>
			</div>
			<div class="description" *ngIf="isExcerptOn">
				<p>{{entry.excerpt}}</p>
			</div>
			<div class="extra">
				<div class="ui right floated blue label" (click)='OnClickEntry(entry);'>
          {{ buttonTitle }}
					<i class="right chevron icon"></i>
				</div>

        <span *ngIf="isTagsOn">
				<div *ngIf="entry.tags">

					<div class="ui label" *ngFor="let nextTag of entry.tagNames"><i class="globe icon"></i> {{nextTag}}</div>

				</div>
        </span>

			</div>
		</div>
	</div>
</div>
