<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
        <img class="logo" src="/assets/puppymail-black.png" />

        <h1 class="ui inverted header">
            Welcome to PuppyMail
        </h1>
        <h2>Turn your Pocket links into Newsletters</h2>
        <div class="ui huge primary button" routerLink='/dashboard'>Let's Get Started <i class="right arrow icon"></i></div>
    </div>

</div>

<div class="ui vertical stripe segment">
    <div class="ui text container">
      
      <h3 class="ui header">Put your bookmarks to use</h3>
      <p>Hi, I'm <a href="http://blogs.bytecode.com.au/glen">Glen</a>. I've been wanting a way to curate my <a href="https://getpocket.com">Pocket</a> links to create html/markdown newsletters. So I wrote this little Angular 2 app to make it happen. Feel free to give it a try. It might be helpful to you too.</p>
      <a class="ui large button" routerLink='/dashboard'>Make a Newsletter</a>
      
      <h4 class="ui horizontal header divider">
        <a href="#">Other Interesting Stuff</a>
      </h4>

      <h3 class="ui header">Interested in the Source Code?</h3>
      <p>It's all open source on Github. It uses the Pocket API to fetch your bookmarks, and Firebase to store your newsletters. If you're a programmer-type that is keen to see under the hood, go nuts!</p>
      <a class="ui large button" href="https://github.com/glenasmith/puppymail">Take Me To The Source</a>
    
      <h3 class="ui header">Do you love writing hobby projects?</h3>
      <p>Me too. I've got a little newsletter where I share resources on how we can level-up as programmers. It's called <a href="http://www.motivatedprogrammer.com/">Motivated Programmer</a>. If that sounds interesting, sign up to the newsletter (populated by PuppyMail!), and I'll send you a free eBook of tips I've found useful in becoming a finisher.</p>
      <a class="ui large button" href="http://www.motivatedprogrammer.com/">I'm Motivated! Sign Me Up!</a>

    </div>
  </div>