/* Remove primeng paginated list bullet styling

    The bizarre >>> thing is from:
    http://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling

 */

:host >>> .ui-datalist-data {
    list-style-type: none;
}

:host >>> .ui-datalist-content {
    border:none;
}

:host >>> li {
    padding: 1em;
}


