<div class="ui icon message" *ngIf="!loaded">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">
      Talking to Pocket
    </div>
    <p>Just fetching your recent links..</p>
  </div>
</div>


<div class="ui search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Filter to tags..." #searchBox>
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<div class="dataListHolder" *ngIf="loaded">
	<p-dataList [value]="filteredEntries" [paginator]="true" [rows]="rowsToDisplay" paginatorPosition="both" [rowsPerPageOptions]="[3,5,10,25,50]">

		<template let-entry>

			<app-pocketlink
					[entry]="entry" [buttonTitle]="'Add'"
					[isImageOn]="displayImages" [isLinkOn]="displayLinks"
					[isExcerptOn]="displayExcerpts" [isTagsOn]="displayTags"
					(onClickedEntry)="OnAddEntry($event)"
					>
			</app-pocketlink>

		</template>

	</p-dataList>
</div>

