<p-growl [value]="messages">

</p-growl>

<p-dialog header="Export Content" [(visible)]="displayExportDialog" [responsive]="true" [width]="500" modal="modal">

  <p-tabView>
    <p-tabPanel header="Raw">
      <div class="ui one column grid">
        <textarea class="column" style="width: 100%; height: 100%; margin: 1em; box-sizing: border-box;" rows="20" #raw>{{ exportContent }}</textarea>
        <button class="column compact ui primary button" (click)="OnCopyToClipboard(raw)">Copy to Clipboard</button>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Rendered">

      <div class="ui one column grid">
        <div [innerHTML]="exportContentAlt" class="column" style="height: 500px; overflow: scroll;" #rendered></div>
        <textarea class="column" #hiddenTextArea rows="1" style="color:white; border:none; overflow:hidden; height: 1px;">{{ exportContentAlt }}</textarea>
        <button class="column compact ui primary button" (click)="OnCopyToClipboard(hiddenTextArea)">Copy to Clipboard</button>
      </div>


    </p-tabPanel>

  </p-tabView>

</p-dialog>



<p-dialog *ngIf="currentPocketEntry" [header]="currentPocketEntry.resolved_title" [(visible)]="displayEditDialog" [responsive]="true" modal="modal" [width]="500">

  <div class="ui one column grid">

    <label for="entryTitle" class="column">Title:</label>
    <input id="entryTitle"[(ngModel)]="currentPocketEntry.resolved_title" style="width: 95%; margin-left: 10px;">


    <label for="entryBody" class="column">Excerpt:</label>
    <textarea id="entryBody" class="column" style="width: 100%; height: 90%; margin: 1em; box-sizing: border-box;"
              rows="10"
              [(ngModel)]="currentPocketEntry.excerpt">

	  </textarea>

  </div>

  <footer>
      <button class="compact ui primary button"  (click)="OnEditUpdate()">Update</button>
      <button class="compact ui secondary button"  (click)="OnEditCancel()">Cancel</button>
  </footer>

</p-dialog>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-dialog header="Save Newsletter As..." [(visible)]="displaySaveAsDialog" [responsive]="true" [width]="500" modal="modal">

  Save {{newsletterName}} As

  <!-- <p-inputMask [(ngModel)]="newsletterNameSaveAs" mask="******************************"></p-inputMask> -->
  <input [(ngModel)]="newsletterNameSaveAs">

  <footer>
    <button class="compact ui primary button"  (click)="OnSaveAsContinue()">Save As</button>
    <button class="compact ui secondary button"  (click)="displaySaveAsDialog=false">Cancel</button>
  </footer>

</p-dialog>


<div class="ui stackable two column grid">
	<div class="row">
		<div class="column">
      <p-splitButton label="Export" icon="fa-clone" (onClick)="OnExportHtml()" [model]="exportMenuItems"></p-splitButton>
      <p-splitButton label="Save" icon="fa-floppy-o" (onClick)="OnSave()" [model]="saveMenuItems"></p-splitButton>
      <button class="compact ui secondary button" (click)="OnDelete()">Delete</button>
      <p>
        <label for="loadDropDown">Switch Newsletter:</label>
        <span class="dropDownSpan">
          <p-dropdown id="loadDropDown" [options]="newsletters" [(ngModel)]="newsletterToLoad" (onChange)="OnNewsletterDropdownChange($event)"></p-dropdown>
        </span>
      </p>
		</div>
		<div class="column">

			<app-pocketdisplayoptions
					[isImageOn]="displayImages" [isLinkOn]="displayLinks"
					[isExcerptOn]="displayExcerpts" [isTagsOn]="displayTags"

					(onImageToggle)="OnImageToggle($event)"
					(onLinkToggle)="OnLinkToggle($event)"
					(onExcerptToggle)="OnExcerptToggle($event)"
					(onTagsToggle)="OnTagsToggle($event)"

					>
			></app-pocketdisplayoptions>

		</div>

	</div>



  <div class="one column row">
    <div class="column">

      <div class="ui top secondary pointing menu">
        <a class="item active" data-tab="pocket">Pocket Links</a>
        <a class="item" data-tab="newsletter">Newsletter ({{ newsletterName }}) <span *ngIf="isDirty" class="dirtyMarker">*</span></a>
      </div>
      <div class="ui bottom active tab" data-tab="pocket">

        <app-pocketlinks
          [displayImages]="displayImages" [displayLinks]="displayLinks"
          [displayExcerpts]="displayExcerpts" [displayTags]="displayTags"
        ></app-pocketlinks>

      </div>
      <div class="ui bottom tab" data-tab="newsletter">

        <p-orderList [value]="newsEntries" [responsive]="true" (onReorder)="OnReorder($event)">
          <template let-newsEntry>

            <app-pocketlink
              [entry]="newsEntry" [buttonTitle]="'Remove'"
              [isImageOn]="displayImages" [isLinkOn]="displayLinks"
              [isExcerptOn]="displayExcerpts" [isTagsOn]="displayTags"
              (onClickedEntry)="OnRemoveEntry($event)"
              (onDoubleClickEntry)="OnEditEntry($event)"
            >
            </app-pocketlink>

          </template>
        </p-orderList>


      </div>

      <!--

      <p-tabView>

          <p-tabPanel header="Pocket Links">
            <app-pocketlinks
              [displayImages]="displayImages" [displayLinks]="displayLinks"
              [displayExcerpts]="displayExcerpts" [displayTags]="displayTags"
            ></app-pocketlinks>
          </p-tabPanel>

          <p-tabPanel [header]="newsletterName">

            <p-orderList [value]="newsEntries" [responsive]="true">
              <template let-newsEntry>

                <app-pocketlink
                  [entry]="newsEntry" [buttonTitle]="'Remove'"
                  [isImageOn]="displayImages" [isLinkOn]="displayLinks"
                  [isExcerptOn]="displayExcerpts" [isTagsOn]="displayTags"
                  (onClickedEntry)="OnRemoveEntry($event)"
                  (onDoubleClickEntry)="OnEditEntry($event)"
                >
                </app-pocketlink>

              </template>
            </p-orderList>



          </p-tabPanel>

      </p-tabView>

    </div>

  </div>

  -->

<!--
  <div class="one column row">
    <div class="column">
      <app-pocketlinks
        [displayImages]="displayImages" [displayLinks]="displayLinks"
        [displayExcerpts]="displayExcerpts" [displayTags]="displayTags"
      ></app-pocketlinks>
    </div>

  </div>
  <div class="one column row">
    <div class="column">

      <p-orderList [value]="newsEntries" [responsive]="true" [header]="newsletterName" >
        <template let-newsEntry>

          <app-pocketlink
            [entry]="newsEntry" [buttonTitle]="'Remove'"
            [isImageOn]="displayImages" [isLinkOn]="displayLinks"
            [isExcerptOn]="displayExcerpts" [isTagsOn]="displayTags"
            (onClickedEntry)="OnRemoveEntry($event)"
            (onDoubleClickEntry)="OnEditEntry($event)"
          >
          </app-pocketlink>

        </template>
      </p-orderList>

    </div>
  </div>
  -->

</div>
