<p-growl [value]="messages">

</p-growl>

<p-dialog header="Export Content" [(visible)]="displayExportDialog" [responsive]="true" [width]="500">
	<textarea style="width: 100%; height: 100%; margin: 1em; box-sizing: border-box;" rows="20">
		{{ exportContent }}
	</textarea>
</p-dialog>

<p-dialog header="Export Rendered Content" [(visible)]="displayRenderedDialog" [responsive]="true" [width]="500">

	<div [innerHTML]="exportContent"></div>

</p-dialog>

<div class="ui two column grid">
	<div class="row">
		<div class="column">
			<button class="compact ui primary button" (click)="OnExportMarkdown()">Export Markdown</button>
			<button class="compact ui secondary button" (click)="OnExportHtml()">Export HTML</button>
			<button class="compact ui secondary button" (click)="OnExportRenderedHtml()">Export Rendered HTML</button>
			<button class="compact ui secondary button" (click)="OnSave()">Save</button>
			<button class="compact ui secondary button" (click)="OnLoad()">Load</button>
      <p-autoComplete [(ngModel)]="newsletterToLoad" [suggestions]="newsletters" (completeMethod)="OnAutoComplete($event)" [size]="30"
                      [minLength]="1" placeholder="Start typing name" [dropdown]="true">
        <template let-news>
          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{news}}</div>
          </div>
        </template>
      </p-autoComplete>

			<button class="compact ui secondary button" (click)="OnList()">List</button>
		</div>
		<div class="column">

			<app-pocketdisplayoptions
					[isImageOn]="displayImages" [isLinkOn]="displayLinks"
					[isExcerptOn]="displayExcerpts" [isTagsOn]="displayTags"

					(onImageToggle)="OnImageToggle($event)"
					(onLinkToggle)="OnLinkToggle($event)"
					(onExcerptToggle)="OnExcerptToggle($event)"
					(onTagsToggle)="OnTagsToggle($event)"

					>
			></app-pocketdisplayoptions>

		</div>

	</div>
	<div class="row">
		<div class="column">

			<p-orderList [value]="newsEntries" [responsive]="true" header="The Newsletter" >
				<template let-newsEntry>

					<app-pocketlink
					[entry]="newsEntry" [buttonTitle]="'Remove'"
					[isImageOn]="displayImages" [isLinkOn]="displayLinks"
					[isExcerptOn]="displayExcerpts" [isTagsOn]="displayTags"
					(onClickedEntry)="OnRemoveEntry($event)"
					>
					</app-pocketlink>

				</template>
			</p-orderList>

		</div>
		<div class="column">
			<app-pocketlinks
					[displayImages]="displayImages" [displayLinks]="displayLinks"
					[displayExcerpts]="displayExcerpts" [displayTags]="displayTags"
			></app-pocketlinks>
		</div>

	</div>

</div>
