:host >>>.ui-orderlist {
    height: 100%;
}

:host >>> .ui-orderlist-list {
    height: 100%;
}

:host >>> li {
    padding: 1em !important;
}

:host >>> .ui-dialog-content img {
  width: 400px;
}

:host >>> footer {
  padding: 1em;
}
